$main1: #ee9900;
$main2: #f5ad33;
$main3: #f7b84d;
$main4: #fac266;
$main5: #fccd80;
$main6: #fdd799;
$main7: #ffe1b3;
$main8: #ffeacc;


$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$red1: #b82e24;
$red2: #e54d42;

$green: #4caf50;
